<div class="container" data-thing="<%= @meetup_key %>" id="boo">
  <div id="users-view"></div>
  <%= @params %>
  <%= @response %>
  <header>
    <div class="header-title">
      <% if false %>
      <%= @testing %>
      <% end %>
    </div>
  </header>

  <!-- Structure of page -->

  <div class="top-container" data-thang="<%= @flickr_key %>" id="boof">
    <div class="my-map-box" id="googleMap"></div>
    <div id="new-user-form"></div>
  </div>

  <div class="top-container" id="picture-box">
    <div class="pictures">
      <h1>
        <span class="place"></span>
      </h1>
      <div class="image-container"></div>
    </div>
    <div class="meetup-list" id="meetup-list"></div>

    <!-- <div class="meetup-list" id="meetup-list"></div> -->

  </div>

  <!-- Templates -->

  <script id="table-rows" type="text/template">
    <tr></tr>
    <tr></tr>
  </script>

  <% if false %>

  <div id="template-1">
    <div class="testclass">
      Here is some stuff
    </div>
    <div>
      <h1>Here is a title</h1>
      <p>
        And here is some more stuff. This is coming from the Backbone template.
      </p>
    </div>

    <hr>
    <% end %>

    <% if false %>
    <div id="put-table-here"></div>
    <hr>
    <% end %>

    <!-- Template for Meetup Box -->

    <script id="meetup-box-template" type="text/template"></script>

    <!-- Template for form -->

    <script id="enter-new-user-form-template" type="text/template">
      <div id="my-form">
        <form>
          <input class="form-field" id="firstname-input-field" placeholder="first name" type="text" value="<%%= user.firstname %>">
          <br>
          <input class="form-field" id="lastname-input-field" placeholder="last name" type="text" value="<%%= user.lastname %>">
          <br>
          <input class="form-field" id="email-input-field" placeholder="email" type="email" value="<%%= user.email %>">
          <br>
          <input class="form-field" id="address-input-field" placeholder="your location" type="text" value="<%%= user.current_location %>">
          <br>
          <div class="button-box">
            <button class="new-user-submit-button" id="submit">Save</button>
          </form>
        </div>
      </div>
    </script>

    <script id="table-template" type="text/template">
      <table class="name-table">
        <thead>
          <tr>
            <th class="name">
              <span class="name">First name</span>
            </th>
            <th class="name">
              <span class="name">Last name</span>
            </th>
            <th class="name">
              <span class="name">Email</span>
            </th>
            <th class="name">
              <span class="name">Location</span>
            </th>
            <th class="name">
              <span class="name"></span>
            </th>
          </tr>
        </thead>
        <tbody>

          <%% users.each(function (user) { %>
            <tr>
              <td class="firstname">
                <%%= user.get("firstname") %>
              </td>
              <td class="lastname">
                <%%= user.get("lastname") %>
              </td>
              <td class="email">
                <%%= user.get("email") %>
              </td>
              <td class="location">
                <%%= user.get("current_location") %>
              </td>
              <td class="location">
                <div class="button-box">
                  <button class="view-button" id="submit">View</button>

                </td>

              </tr>
              <%% }); %>

            </tbody>
          </table>
        </script>

        <script>
          // $(document).ready(function () {
          //   initialiseGmaps()
          // })
        </script>
      </div>

      <script type="text/template">
        <div>
          <table>
            <thead>
              <tr>
                <td>
                  City
                </td>
                <td>
                  Meetup Group
                </td>
              </tr>
            </thead>
            <tbody>
              <td>
                <%%  %>
              </td>
              <td>
                <%%  %>
              </td>
            </tbody>

          </table>
        </div>
      </script>

      <% if false %>

      <div id="search-template">

        <div class="flick-header"></div>
        <h1>Flickr</h1>
        <input class="search-input" type="text"><br>
        <button class="flickr-search">Search</button>

        <div id="enter-new-user-form-template">asdfsdf</div>
        <div id="table-template"></div>

      </div>
      <% end %>
      <% content_for :js do %>
      <script ascync defer src="<%= @test %>"></script>
      <% end %>