<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Language:</strong>
  <%= @user.language %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Current location:</strong>
  <%= @user.current_location %>
</p>

<p>
  <strong>Search history:</strong>
  <%= @user.search_history %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user.education %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @user.profession %>
</p>

<p>
  <strong>Other information:</strong>
  <%= @user.other_information %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
