<!DOCTYPE html>
<html>

<head>
  <title>Expat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>


      <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,700,500' rel='stylesheet' type='text/css'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
      <% end %>
        <% if alert %>
          <p class="alert alert-danger">
            <%= alert %>
          </p>
          <% end %>

            <div class=logged-in-message>


              <p class="navbar-text pull-right">
                <% if user_signed_in? %>
                  You're logged in as
                  <strong>
                    <%= current_user.email %>
                  </strong>
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                  <% else %>

                  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> <% if false %> |

                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                  <% end %>
                  <% end %>
            </div>


            <%= yield %>


  </div>


  <%= javascript_include_tag 'application' %>

    <%= yield :js %>

</body>

</html>
